@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Skranji:wght@400;700&display=swap');

body {
  background-image: url('img/fundo_3.jpg');
  background-position: auto;
  background-size: cover;
  color: white;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game-container {
  color: white;
  background: white;
  text-align: center;
  margin-left: 270px;
  margin-right: -35px; 
  border-radius: 20px;
  width: 349px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('img/fundo_mobile.jpg');
    background-position: center;
    background-size: cover;
  }
  
  #game-container {
    background: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li button {
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-family: 'Playfair Display', serif;
  width: 200px;
  background: linear-gradient(to right, #4CAF50, #64B5F6);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.menu li button:hover {
  background: linear-gradient(to right, #388E3C, #1E88E5);
}

.menu li button:active {
  transform: scale(1.1);
}

.character-button {
  background: linear-gradient(to right, #9C27B0, #7B1FA2);
}

button {
  font-size: 14.5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: italic;
  margin: 10px;
  transition: text-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 10px;
}

button:hover {
  background-color: #fff;
  color: #000;
  background-image: linear-gradient(to right, #8cff61, #4caf50);
}

button:active {
  transform: scale(1.1);
  text-shadow: 0 0 10px #fff, 0 0 20px #ff00cc, 0 0 30px #3333cc;
  animation: fadeOut 1.6s forwards;
}

#reset-btn {
  background: linear-gradient(to right, #ff6633, #ffcc00, #ff0066);
  color: #ffffff;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

#reset-btn:hover {
  background: linear-gradient(to right, #e65e30, #e7b903, #d60056);
}

#shop-btn {
  background: linear-gradient(to right, #FFD700, #FFA500, #FF6347);  
  color: white;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

#shop-btn:hover {
  background: linear-gradient(to right, #e3c100, #dd9000, #e75a41);  
  color: white;
}

#click-btn {
  background: linear-gradient(to right, #4caf50, #8bc34a, #cddc39, #d4e157);
  color: white;
  font-size: 17px;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

#click-btn:hover {
  background: linear-gradient(to right, #388e3c, #7cb342, #aed581, #9ccc65);
}

#upgrade-btn {
  margin: 0px;
  background: linear-gradient(to right, #9900cc, #ff00ff, #6600cc);
  color: white;
  padding: 16.5px;
  border-radius: 13.5px;
}

#upgrade-btn:hover {
  margin: 0px;
  background: linear-gradient(to right, #8e00bd, #da01da, #5c00b8);
  color: white;
  padding: 16.5px;
  border-radius: 13.5px;
}

#missions-btn {
  background: linear-gradient(to left, #4A90E2, #0080ff, #0044ff);
  color: white;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

#missions-btn:hover {
  background: linear-gradient(to left, #2C3E50, #34495E, #2C3E50);
  color: white;
}

#mochila-btn {
  background: linear-gradient(to right, #6a00a3, #1a1a1a, #6a00a3);
  color: #ffffff;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

#mochila-btn:hover {
  background: linear-gradient(to right, #4d0080, #000033, #4d0080);
}

#character-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

#message-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  z-index: 1000;
}

#message-text {
  margin-bottom: 20px;
  white-space: pre-line; 
}

#ok-button {
  background: linear-gradient(to right, #8cff61, #4caf50);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

#ok-button:hover {
  background: linear-gradient(to right, #4caf50, #8cff61);
}

#rebirth-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

#rebirth-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#rebirth-title {
  font-size: 3em;
  background: linear-gradient(to right, #ffd700, #ffd700);
  display: inline;
  background-clip: text;
  color: transparent;
}

#rebirth-description {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#rebirth-btn,
#back-btn {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  background: linear-gradient(to right, #ffd700, #ffd700);
  color: #000;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#rebirth-btn:hover,
#back-btn:hover {
  background: linear-gradient(to right, #ffdb58, #ffdb58);
}

#character-image {
  width: 100%;
  height: 100%; 
}

#level-container {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#evolution-level-container{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 11px;
  margin: 10px;
  font-size: 20px;
  height: auto;
  margin-bottom: 30px;
  color: #fff;
  transition: transform 0.1s ease-in-out;
}


#money-per-click {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 15px;
  margin: auto;
  font-size: 20px;
  height: auto;
  margin-bottom: 30px;
  color: #fff;
  transition: transform 0.1s ease-in-out;
}

#upgrade-cost,
#evolution-level,
#money-per-click {
  display: inline-block;
  height: auto;
color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#yens-container {
  max-width: 150px;
  max-height: 150px;
  width: 130px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 16px;
  display: inline-block;
}

#tocar_yens {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  margin: 19px;
}

#level {
  color: white;
}